{% extends 'basic.html' %}
{% block title %}add comment{% endblock %}

{% block content %}

    <div class="bg-light mt-5 text-white">
        <div class="my-3 pt-5" style="background-image: url('http://www.operasb.com.au/images/maps/jndsd75zo2.png');">
            <div sytle="height:120px;"></div>
            <div class="row mx-5 pt-5">
                <h1 class="display-4">Add Your Comment</h1>
            </div>
            <div style="height:120px;"></div>
        </div>
    </div>

<div class="bg-light mt-5">
    <div class="row my-3 pt-3 pb-5 px-5">
        <div class="col align-items-center">
            <form method="post" class="mx-5">
                {% csrf_token %}
                 <!-- {{ form.as_p }} -->
                {% include 'form.html' with form=form %}
                <button type="submit" name="search_button" class="btn btn-primary mx-2" style="background: #ffd916;border:none;">Add</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}